<div class="flex items-center gap-4">
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "XS", size: :xs)) %>
    <p class="text-xs mt-1">xs</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "SM", size: :sm)) %>
    <p class="text-xs mt-1">sm</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "MD", size: :md)) %>
    <p class="text-xs mt-1">md</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "LG", size: :lg)) %>
    <p class="text-xs mt-1">lg</p>
  </div>
  <div class="text-center">
    <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "XL", size: :xl)) %>
    <p class="text-xs mt-1">xl</p>
  </div>
</div>