<div class="flex gap-4">
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "S", color: :success, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "D", color: :danger, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "I", color: :info, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "W", color: :warning, size: :md)) %>
  <%= render(Fluxbit::AvatarComponent.new(placeholder_initials: "P", color: :purple, size: :md)) %>
</div>