<div class="space-y-4">
  <%= fx_label(with_content: "First Name", for: "first_name") %>

  <%= fx_label(for: "last_name") do %>
    Last Name
  <% end %>

  <%= fx_label(with_content: "Email Address", for: "email") %>

  <%= fx_label(with_content: "Phone Number", for: "phone") %>

  <%= fx_label(for: "message") do %>
    Message
  <% end %>
</div>