<%= content_tag :div, **@wrapper_html do %>
  <label class="<%= label_class %>">
    <%= if @invert_label
      label
    else
      @other_label || (other_label if other_label?)
    end %>

    <%= checkbox_without_wrapper %>

    <span class="<%= toggle_class %>"></span>
    <%= if @invert_label
      @other_label || (other_label if other_label?)
    else
      label
    end %>
  </label>
  <%= help_text %>
<% end %>