<%= content_tag :div, **@wrapper_html do %>
  <div id="<%= id %>" class="mt-6 grow lg:mt-0 lg:ml-6 lg:shrink-0 lg:grow-0">
    <%= label %>
    <div class="mt-1 lg:hidden">
      <div class="flex items-center">
        <div class="inline-block h-12 w-12 shrink-0 overflow-hidden rounded-full relative" aria-hidden="true">
          <%= image_element %>
        </div>
        <div class="ml-5 rounded-md shadow-xs">
          <div class="group relative flex items-center justify-center rounded-md border border-slate-300 py-2 px-3 focus-within:ring-2 focus-within:ring-sky-500 focus-within:ring-offset-2 hover:bg-slate-50">
            <label for="mobile-<%= id %>" class="pointer-events-none relative text-sm font-medium leading-4 text-slate-700">
              <span><%= @title %></span>
              <span class="sr-only"><%= @label %></span>
            </label>
            <%= input_element(input_id: "mobile-#{id}") %>
          </div>
        </div>
      </div>
    </div>

    <div class="relative hidden overflow-hidden rounded-full lg:block w-40">
      <div class="inline-block h-40 w-40 shrink-0 overflow-hidden rounded-full relative" aria-hidden="true">
        <%= image_element %>
      </div>
      <label for="desktop-<%= id %>" class="absolute inset-0 flex flex-col h-full w-full items-center justify-center bg-blue-800/75 text-sm font-medium text-white opacity-0 hover:opacity-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-white mb-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <span><%= @title %></span>
        <span class="sr-only"><%= @label %></span>
        <%= input_element(input_id: "desktop-#{id}") %>
      </label>
    </div>
    <%= help_text %>
  </div>

  <script>
    function loadFile(event, id) {
      const images = document.querySelectorAll('.img_photo_' + id);
      if (event.target.files && event.target.files[0]) {
        images.forEach(function(img) {
          img.src = URL.createObjectURL(event.target.files[0]);
          img.onload = function() {
            URL.revokeObjectURL(img.src);
          }
        });
      }
    }
  </script>
<% end %>