<div class="space-y-3">
  <%= fx_help_text(color: :danger) do %>
    This field is required
  <% end %>

  <%= fx_help_text(color: :danger) do %>
    Password must be at least 8 characters long
  <% end %>

  <%= fx_help_text(color: :danger) do %>
    Email address is already taken
  <% end %>

  <%= fx_help_text(color: :danger) do %>
    Invalid file format. Please upload a PDF or DOC file.
  <% end %>

  <%= fx_help_text(color: :danger) do %>
    Phone number format is invalid. Please use (555) 123-4567 format.
  <% end %>
</div>