<%= fx_button(pill: false, class: 'mr-2 mb-5') do %>
  <%= anyicon icon: 'heroicons_solid:envelope', class: 'w-4 h-4'%>
  <span class="sr-only">Notifications</span>
  <%= fx_badge(color: :failure, pill: true, size: 1, perfect_rounded: 1, notification: 'top right') do %>
    10
  <% end %>
<% end %>

<%= fx_button(pill: false, class: 'mr-2 mb-5') do %>
  <%= anyicon icon: 'heroicons_solid:envelope', class: 'w-4 h-4'%>
  <span class="sr-only">Notifications</span>
  <%= fx_badge(color: :solid_info, pill: true, size: 1, perfect_rounded: 1, notification: 'top left') do %>
    10
  <% end %>
<% end %>

<%= fx_button(pill: true, class: 'mr-2 mb-5') do %>
  <%= anyicon icon: 'heroicons_solid:envelope', class: 'w-4 h-4'%>
  <span class="sr-only">Notifications</span>
  <%= fx_badge(color: :solid_failure, pill: true, size: 1, perfect_rounded: 1, notification: 'bottom right') do %>
    10
  <% end %>
<% end %>

<%= fx_button(pill: true, class: 'mr-2 mb-5') do %>
  <%= anyicon icon: 'heroicons_solid:envelope', class: 'w-4 h-4'%>
  <span class="sr-only">Notifications</span>
  <%= fx_badge(color: :solid_success, pill: true, size: 1, perfect_rounded: 1, notification: 'bottom left') do %>
    10
  <% end %>
<% end %>