<div class="space-y-4">
  <%= fx_toggle(
    label: "Default Color",
    name: "default",
    color: :default,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Success Color",
    name: "success",
    color: :success,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Danger Color",
    name: "danger",
    color: :danger,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Warning Color",
    name: "warning",
    color: :warning,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Info Color",
    name: "info",
    color: :info,
    checked: true
  ) %>

  <%= fx_toggle(
    label: "Purple Color",
    name: "purple",
    color: :purple,
    checked: true
  ) %>
</div>