<div class="space-y-4">
  <%= fx_toggle(
    label: "Default Unchecked",
    name: "unchecked_default",
    unchecked_color: :default
  ) %>

  <%= fx_toggle(
    label: "Light Success Unchecked",
    name: "unchecked_light_success",
    unchecked_color: :light_success
  ) %>

  <%= fx_toggle(
    label: "Light Danger Unchecked",
    name: "unchecked_light_danger",
    unchecked_color: :light_danger
  ) %>

  <%= fx_toggle(
    label: "Light Info Unchecked",
    name: "unchecked_light_info",
    unchecked_color: :light_info
  ) %>

  <%= fx_toggle(
    label: "Purple Unchecked",
    name: "unchecked_purple",
    unchecked_color: :purple
  ) %>
</div>