<div <%= tag.attributes(**@props) %> data-dial-init>
  <% if top_position? %>
    <button type="button" data-dial-toggle="<%= menu_id %>" aria-controls="<%= menu_id %>" aria-expanded="false" class="<%= classes trigger_classes %>">
      <%= icon @trigger_icon, class: styles[:trigger][:icon] %>
      <span class="sr-only">Open actions menu</span>
    </button>

    <div id="<%= menu_id %>" class="<%= classes menu_classes %>">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% else %>
    <div id="<%= menu_id %>" class="<%= classes menu_classes %>">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>

    <button type="button" data-dial-toggle="<%= menu_id %>" aria-controls="<%= menu_id %>" aria-expanded="false" class="<%= classes trigger_classes %>">
      <%= icon @trigger_icon, class: styles[:trigger][:icon] %>
      <span class="sr-only">Open actions menu</span>
    </button>
  <% end %>
</div>