<div <%= tag.attributes(**@props) %> data-dial-init>
  <% if top_position? %>
    <button type="button" data-dial-toggle="<%= menu_id %>" aria-controls="<%= menu_id %>" aria-expanded="false" class="<%= classes trigger_classes %>">
      <% if @trigger_icon.nil? %>
        <%= plus_icon(class: styles[:trigger][:icon]) %>
      <% else %>
        <%= icon @trigger_icon, class: styles[:trigger][:icon] %>
      <% end %>
      <span class="<%= styles[:screen_reader] %>"><%= t("fluxbit.speed_dial.open_actions_menu") %></span>
    </button>

    <div id="<%= menu_id %>" class="<%= classes menu_classes %>">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% else %>
    <div id="<%= menu_id %>" class="<%= classes menu_classes %>">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>

    <button type="button" data-dial-toggle="<%= menu_id %>" aria-controls="<%= menu_id %>" aria-expanded="false" class="<%= classes trigger_classes %>">
      <% if @trigger_icon.nil? %>
        <%= plus_icon(class: styles[:trigger][:icon]) %>
      <% else %>
        <%= icon @trigger_icon, class: styles[:trigger][:icon] %>
      <% end %>
      <span class="<%= styles[:screen_reader] %>"><%= t("fluxbit.speed_dial.open_actions_menu") %></span>
    </button>
  <% end %>
</div>