<li <%= tag.attributes(**@props) %>>
  <% if @variant == :activity %>
    <div class="<%= styles[:activity][:indicator] %>"></div>
    <div class="<%= styles[:activity][:base] %>">
      <% if @date %>
        <time class="<%= styles[:activity][:time] %>"><%= @date %></time>
      <% end %>
      <% if render_as_link? %>
        <a href="<%= @href %>" class="<%= styles[:activity][:title] %>"><%= @title %></a>
      <% else %>
        <h3 class="<%= styles[:activity][:title] %>"><%= @title %></h3>
      <% end %>
      <% if @description %>
        <p class="<%= styles[:activity][:description] %>"><%= @description %></p>
      <% end %>
    </div>
  <% elsif @variant == :stepper %>
    <div class="<%= styles[:stepper][:indicator_container] %>">
      <div class="<%= stepper_indicator_classes %>">
        <% if @icon %>
          <%= icon(@icon, class: (@status == :completed || @status == :current) ? styles[:stepper][:icon_completed] : styles[:stepper][:icon]) %>
        <% end %>
      </div>
      <% unless is_last? %>
        <div class="<%= styles[:stepper][:connector] %>"></div>
      <% end %>
    </div>
    <div class="<%= styles[:stepper][:content] %>">
      <% if @title %>
        <h3 class="<%= styles[:stepper][:title] %>"><%= @title %></h3>
      <% end %>
      <% if @date %>
        <time class="<%= styles[:stepper][:description] %>"><%= @date %></time>
      <% end %>
      <% if @description %>
        <p class="<%= styles[:stepper][:description_paragraph] %>"><%= @description %></p>
      <% end %>
    </div>
  <% else %>
    <!-- Default and vertical variants -->
    <div class="<%= indicator_classes %>">
      <% if @icon %>
        <%= icon(@icon, class: styles[:item][:icon]) %>
      <% else %>
        <div class="<%= styles[:item][:dot] %>"></div>
      <% end %>
    </div>
    <div class="<%= styles[:item][:content][:base] %>">
      <% if @date %>
        <time class="<%= styles[:item][:content][:date] %>"><%= @date %></time>
      <% end %>
      <% if @title %>
        <% if render_as_link? %>
          <a href="<%= @href %>" class="<%= styles[:item][:content][:title] %>"><%= @title %></a>
        <% else %>
          <h3 class="<%= styles[:item][:content][:title] %>"><%= @title %></h3>
        <% end %>
      <% end %>
      <% if @description %>
        <p class="<%= styles[:item][:content][:description] %>"><%= @description %></p>
      <% end %>
    </div>
  <% end %>
</li>