<div class="p-8 flex justify-center">
  <%= fx_avatar_group do |group| %>
    <%= group.with_avatar(placeholder_initials: "JS") %>
    <%= group.with_avatar(placeholder_initials: "RB") %>
    <%= group.with_avatar(placeholder_initials: "PY") %>
    <%= group.with_avatar(placeholder_initials: "GO") %>
  <% end %>
</div>