<div class="p-8 flex justify-center">
  <%= fx_avatar_group do |group| %>
    <%= group.with_avatar(color: :success, placeholder_initials: "AM") %>
    <%= group.with_avatar(color: :danger, placeholder_initials: "FX") %>
    <%= group.with_avatar(color: :warning, placeholder_initials: "BG") %>
    <%= group.with_avatar(color: :info, placeholder_initials: "CD") %>
    <%= group.with_avatar(color: :purple, placeholder_initials: "EF") %>
  <% end %>
</div>