<div class="p-8 flex justify-center">
  <%= fx_avatar_group do |group| %>
    <%= group.with_avatar(
      src: "https://flowbite.com/docs/images/people/profile-picture-1.jpg",
      alt: "User 1"
    ) %>
    <%= group.with_avatar(
      src: "https://flowbite.com/docs/images/people/profile-picture-2.jpg",
      alt: "User 2"
    ) %>
    <%= group.with_avatar(
      src: "https://flowbite.com/docs/images/people/profile-picture-3.jpg",
      alt: "User 3"
    ) %>
    <%= group.with_avatar(
      src: "https://flowbite.com/docs/images/people/profile-picture-4.jpg",
      alt: "User 4"
    ) %>
  <% end %>
</div>