<% content_for(:header) do %>
  <%= fx_heading with_content: "Create your account", size: 2, class: "text-center" %>
  <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
    Have an account already?
    <%= link_to "Log in", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  </p>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: Fluxbit::FormBuilder) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.fx_email_field :email, autofocus: true, autocomplete: "email", wrapper_html: {class: "mb-6 field"} %>
  <%= f.fx_password_field :password, autocomplete: "new-password", wrapper_html: {class: "mb-6 field"}, help_text: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : ""%>
  <%= f.fx_password_field :password_confirmation, autocomplete: "new-password", wrapper_html: {class: "mb-6 field"} %>
  <%= f.fx_submit "Sign up" %>

<% end %>

<%= render "devise/shared/links" %>