<div class="flex gap-4 items-center">
  <%= fx_gravatar(email: "user@example.com", size: :xs) %>
  <%= fx_gravatar(email: "user@example.com", size: :sm) %>
  <%= fx_gravatar(email: "user@example.com", size: :md) %>
  <%= fx_gravatar(email: "user@example.com", size: :lg) %>
  <%= fx_gravatar(email: "user@example.com", size: :xl) %>
</div>