<div class="flex gap-4 items-center">
  <%= fx_gravatar(email: "user@example.com", color: :info, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", color: :success, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", color: :warning, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", color: :danger, size: :md) %>
  <%= fx_gravatar(email: "user@example.com", color: :purple, size: :md) %>
</div>